In [2]:
import pandas as pd

# 데이터 리스트 생성
data = {
    '이름': ['철수', '영희', '민수', '지영'],
    '나이': [25, 30, 35, 28],
    '성별': ['남', '여', '남', '여'],
    '직업': ['학생', '회사원', '의사', '교수']
}

# 데이터프레임 생성
df = pd.DataFrame(data)

# 데이터프레임 출력
print(df)

   이름  나이 성별   직업
0  철수  25  남   학생
1  영희  30  여  회사원
2  민수  35  남   의사
3  지영  28  여   교수

In [6]:
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>이름</th>
      <th>나이</th>
      <th>성별</th>
      <th>직업</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>철수</td>
      <td>25</td>
      <td>남</td>
      <td>학생</td>
    </tr>
    <tr>
      <th>1</th>
      <td>영희</td>
      <td>30</td>
      <td>여</td>
      <td>회사원</td>
    </tr>
    <tr>
      <th>2</th>
      <td>민수</td>
      <td>35</td>
      <td>남</td>
      <td>의사</td>
    </tr>
    <tr>
      <th>3</th>
      <td>지영</td>
      <td>28</td>
      <td>여</td>
      <td>교수</td>
    </tr>
  </tbody>
</table>

In [7]:
import pandas as pd
from bs4 import BeautifulSoup

# 데이터 리스트 생성
data = {
    '이름': ['철수', '영희', '민수', '지영'],
    '나이': [25, 30, 35, 28],
    '성별': ['남', '여', '남', '여'],
    '직업': ['학생', '회사원', '의사', '교수']
}

# 데이터프레임 생성
df = pd.DataFrame(data)

# 데이터프레임을 HTML로 변환
html = df.to_html()

# BeautifulSoup을 사용하여 tbody 태그 추출
soup = BeautifulSoup(html, 'html.parser')
tbody = soup.find('tbody')

# 추출된 tbody 태그 출력b
print(tbody)

<tbody>
<tr>
<th>0</th>
<td>철수</td>
<td>25</td>
<td>남</td>
<td>학생</td>
</tr>
<tr>
<th>1</th>
<td>영희</td>
<td>30</td>
<td>여</td>
<td>회사원</td>
</tr>
<tr>
<th>2</th>
<td>민수</td>
<td>35</td>
<td>남</td>
<td>의사</td>
</tr>
<tr>
<th>3</th>
<td>지영</td>
<td>28</td>
<td>여</td>
<td>교수</td>
</tr>
</tbody>

In [11]:
import pandas as pd
from bs4 import BeautifulSoup

# 데이터 리스트 생성
data1 = {
    '이름': ['철수', '영희'],
    '나이': [25, 30],
    '성별': ['남', '여'],
    '직업': ['학생', '회사원']
}

data2 = {
    '이름': ['민수', '지영'],
    '나이': [35, 28],
    '성별': ['남', '여'],
    '직업': ['의사', '교수']
}

# 데이터프레임 생성
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# 데이터프레임을 HTML로 변환
html1 = df1.to_html(index=False)
html2 = df2.to_html(index=False)

# BeautifulSoup을 사용하여 tbody 태그 추출
soup1 = BeautifulSoup(html1, 'html.parser')
tbody1 = soup1.find('tbody')

soup2 = BeautifulSoup(html2, 'html.parser')
tbody2 = soup2.find('tbody')

# 추출된 tbody 태그에 클래스 부여
tbody1['class'] = 'my-tbody1'
tbody2['class'] = 'my-tbody2'

# 스타일을 포함한 CSS 정의
css = '''
<style>
.my-table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

.my-table th, .my-table td {
    padding: 8px;
    border: 1px solid #dddddd;
    text-align: left;
}

.my-table thead th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.my-tbody1 {
    background-color: #eaf2ff;
}

.my-tbody2 {
    background-color: #f5f5f5;
}
</style>
'''

# 전체 표로 감싸는 table 태그 추가
table_html = f'<table class="my-table">{str(tbody1)}{str(tbody2)}</table>'

# 최종 HTML 출력
final_html = f'{css}\n{table_html}'
print(final_html)

<style>
.my-table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

.my-table th, .my-table td {
    padding: 8px;
    border: 1px solid #dddddd;
    text-align: left;
}

.my-table thead th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.my-tbody1 {
    background-color: #eaf2ff;
}

.my-tbody2 {
    background-color: #f5f5f5;
}
</style>

<table class="my-table"><tbody class="my-tbody1">
<tr>
<td>철수</td>
<td>25</td>
<td>남</td>
<td>학생</td>
</tr>
<tr>
<td>영희</td>
<td>30</td>
<td>여</td>
<td>회사원</td>
</tr>
</tbody><tbody class="my-tbody2">
<tr>
<td>민수</td>
<td>35</td>
<td>남</td>
<td>의사</td>
</tr>
<tr>
<td>지영</td>
<td>28</td>
<td>여</td>
<td>교수</td>
</tr>
</tbody></table>